
<div class="heroback">
    <!-- Top Navbar with Contact Details -->
        <nav class="navbar top-navbar navbar-expand-md" style="background-color: black;">
      <div class="container">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
              <div class="row">
                  <div class="col-md-12 contactdetails">
    
                      <div class="contactinfo">
                          <span><i class="bi bi-telephone-outbound-fill"></i> <a href="tel:+256 752234240">+256 752 234 240 </a></span>
                      </div>
    
                      <div class="location">
                          <span><i class="bi bi-geo-alt-fill"></i>: <a href="https://www.google.com/maps/d/u/0/viewer?mid=1KFJv06nmMMHV-GMtW6op6NiRmL8&hl=en&ll=0.31560145067385126%2C32.58181254999998&z=16" target="_blank">Kampala Uganda</a></span>
                      </div>
    
                      <div class="social">
                          <a href="https://www.linkedin.com/company/atramenti-impact-africa" target="_blank"><i class="fab fa-linkedin"> </i></a>
                          <a href="https://twitter.com/AtramentiAfrica" target="_blank"> <i class="fab fa-twitter"></i></a>
                          <a href="https://www.instagram.com/atramentiimpactafrica/" target="_blank"><i class="fab fa-instagram"></i></a>
                      </div>
    
                      <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                          <button type="button" class="btn donate" ><i class="bi bi-heart-fill" ></i> Donate</button>
                          <button type="button" class="btn volunteer"><i class="bi bi-person-hearts "></i> Become a Volunteer</button>
                      </div>
    
                  </div>
              </div>
          </div>
      </div>
    </nav>
    