<!-- Middle Navbar with Logo and Donate Button -->
<nav class="navbar middlenav" style=" background-color: rgba(0, 0, 0, 0.3);">
    <div class="container-fluid">
    
      <nav class="navbar navbar-main navbar-expand-lg  ">
        <div class="container">
    
            <a class="navbar-brand" href="#"><img
                    src="assets/atramenti badge.png" alt="logo" class="logo"></a>
    
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="about.html" id="aboutDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            About us
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="aboutDropdown">
                            <li><a class="dropdown-item" href="#">Who we are</a></li>
                            <li><a class="dropdown-item" href="#">What we do</a></li>
                            <li><a class="dropdown-item" href="#">Mission Vision and Our Beliefs</a>
                            </li>
                            <li><a class="dropdown-item" href="#">Our Team</a></li>
                            <li><a class="dropdown-item" href="#">MileStones</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="programsDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Programs
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="programsDropdown">
                            <li><a class="dropdown-item" href="#">AYWC writers Community</a></li>
                            <li><a class="dropdown-item" href="#">Bugz and Tagz</a></li>
                            <li><a class="dropdown-item" href="#">Write and Publish Initiative</a></li>
                            <li><a class="dropdown-item" href="#">uoright.com platform</a></li>
                            <li><a class="dropdown-item" href="#">AVITSAs</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="eventsDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Events
    
                        </a>
    
                        <ul class="dropdown-menu" aria-labelledby="eventsDropdown">
                            <li><a class="dropdown-item" href="#">Days we had Contest</a></li>
                            <li><a class="dropdown-item" href="#">Poet Of The Month</a></li>
                            <li><a class="dropdown-item" href="#">Write and Publish Launch</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contacts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Gallery</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
    
    